.hero-container {
  background-color: rgb(12, 35, 64);
  color: white;
  padding: 50px 20px 100px 20px;
}
.hero-button-container {
  text-align: center;
}
.hero-button {
  background-color: transparent;
  color: rgb(163, 21, 58);
  border: 1px solid rgb(163, 21, 58);
  padding: 8px 16px;
  font-size: 0.7rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;

  display: inline-block;
  width: auto;
  text-align: center;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: rgb(163, 21, 58);
  color: white;
}
.hero-heading {
  font-weight: 900 !important;
  font-size: 3rem;
}

.hero-gradient-text {
  font-weight: 800 !important;
  font-size: 3rem;
  background: linear-gradient(90deg, rgb(255, 50, 105), rgb(117, 17, 44));
  background-clip: text;

  /* WebKit fallback (Chrome, Safari, Edge) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-text {
  margin-top: 1.6rem;
  color: oklch(0.872 0.01 258.338);
}

.hero-text p {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 3px;
}
.hero-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2.5rem !important;
  flex-wrap: wrap;
}
.hero-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

/* Get Started button */
.primary-btn {
  background: linear-gradient(90deg, rgb(147, 19, 53), rgb(75, 10, 28));
  color: #ffffff;
  border: none;
  padding: 10px 24px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.6rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;
}

.primary-btn i {
  transition: transform 0.3s ease;
}

.primary-btn:hover i {
  transform: translateX(4px);
}

/* Call button */
.phone-btn {
  background-color: rgba(47, 66, 90, 0.12) !important;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 10px 24px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.phone-btn i {
  font-size: 1rem;
  color: rgb(163, 21, 58);
}
.phone-btn:hover {
  background-color: rgba(80, 97, 118, 0.22) !important;
}
/* Responsive adjustments */
@media (max-width: 992px) {
  .hero-heading,
  .hero-gradient-text {
    font-size: 2rem;
  }
}
