/* ================= GLOBAL ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container for all content (navbar, sections, footer) */
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding-left: 3rem;  
  padding-right: 3rem; */
}

/* Large tablets / small laptops */
@media (max-width: 992px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* Tablets / medium phones */
@media (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Small phones */
@media (max-width: 576px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}