/* Navbar background + spacing */
.navbar-custom {
  background-color: #fff; /* White background */
  padding: 0.5rem 6rem;
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

/* Brand logo + text */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.brand-logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
  transform: rotate(5deg);
  border-radius: 9px;
}

.brand-text {
  display: flex;
  flex-direction: column;
}

.brand-mindmine {
  font-size: 0.9rem;
  font-weight: 700;
  color: oklch(0.21 0.034 264.665);
}

.brand-academy {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(163, 21, 58);
}

/* Navbar links aligned right */
.navbar-nav {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

/* Regular links */
.nav-link {
  color: oklch(37.3% 0.034 259.733);
  font-weight: 400 !important;
  font-size: 0.85rem;
  position: relative;
  transition: color 0.3s;
}

.nav-link:hover {
  color: rgb(163, 21, 58);
}

/* Apply Now button */
.apply-btn {
  display: inline-block; /* To Ensure padding works */
  padding: 0.4rem 1.15rem !important; /* override Bootstrap defaults */
  background: linear-gradient(90deg, rgb(163, 21, 58), #330014);
  color: #fff !important;
  border-radius: 1rem;
  transition: all 0.4s ease;
  font-weight: 600 !important;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
}

/* Hover effect */
.apply-btn:hover {
  opacity: 0.85;
}

/* Active navbar link underline */
.nav-link.active-link {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  font-weight: 600 !important;
  color: rgb(163, 21, 58);
}
.nav-link {
  transition:
    color 0.3s,
    text-decoration 0.3s;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .brand {
    margin-bottom: 0.5rem;
  }
  .navbar-custom {
    padding: 0.5rem 0.5rem;
  }
}
