.apply-container {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  background: #f7f8fa;
}
.apply-card {
  background: #fff;
  width: 100%;
  max-width: 700px !important;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
  overflow: hidden;
}

.form-header {
  background-color: rgb(163,21,58);
  color: #fff;
  padding: 25px;
  text-align: center;
}

.form-header h1 {
  margin: 0;
  font-size: 1.6rem;
}

.form-header .form-info {
  margin-top: 5px;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow-x: auto;
}

/* Sections */
h2 {
  font-size: 1rem;
  color: #2c3e50;
  margin-top: 20px;
  margin-bottom: 12px;
  /* border-bottom: 1px solid #eee; */
  padding-bottom: 3px;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.form-group.full-width {
  grid-column: span 2;
}

/* Inputs */
label {
  display: block;
  font-size: 0.75rem;
  color: #555;
  margin-bottom: 3px;
}

input, select, textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.85rem;
  transition: all 0.2s;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: rgb(163,21,58);
  box-shadow: 0 0 5px rgba(163,21,58,0.2);
}

textarea {
  min-height: 60px;
  resize: vertical;
}

/* Button */
.submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  font-weight: 600;
  font-size: 0.95rem;
  color: #fff;
  background-color: rgb(163,21,58);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #b91f48;
}

/* Responsive */
@media(max-width: 768px) {
  .grid-2, .grid-3, .form-group.full-width {
    grid-template-columns: 1fr;
    grid-column: span 1;
  }
}
