.student-hero {
  background-color: rgb(12, 35, 64);
  color: #fff;
  padding: 2rem 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.student-hero-content {
  max-width: 800px;
}

.student-hero h1 {
  font-weight: 900;
  font-size: 2.6rem;
  margin-bottom: 0.75rem;
  letter-spacing: -0.5px;
}

.student-hero p {
  max-width: 720px;
  margin: 0 auto;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.7;
  color: #e5e7eb;
  margin-bottom: 2rem;
}


/* Responsive */
@media (max-width: 768px) {
  .student-hero h1 {
    font-size: 1.8rem;
  }
  .student-hero p {
    font-size: 0.95rem;
  }
}
