.enquiry-section {
  background: #f7f8fa;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

.enquiry-card {
  background: #fff;
  padding: 35px 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

.enquiry-card h2 {
  color: rgb(163,21,58);
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.enquiry-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.enquiry-form label {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 3px;
}

.enquiry-form input,
.enquiry-form textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  transition: 0.3s;
}

.enquiry-form input:focus,
.enquiry-form textarea:focus {
  outline: none;
  border-color: rgb(163,21,58);
  box-shadow: 0 0 5px rgba(163,21,58,0.2);
}

.enquiry-form textarea {
  resize: vertical;
}

.btn-submit {
  padding: 12px 0;
  background-color: rgb(163,21,58);
  color: #fff;
  font-size: 0.95rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.btn-submit:hover {
  background-color: #b91f48;
}

/* Responsive */
@media(max-width: 768px) {
  .enquiry-card {
    padding: 25px 20px;
  }
}
/* Success and error */
.success-box {
  max-width: 600px;
  margin: 30px auto;
  padding: 35px 30px;
  text-align: center;
  background: #f0fff4;
  border: 2px solid #38a169;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.4s ease-in-out;
}

.success-box h2 {
  color: #2f855a;
  font-size: 26px;
  margin-bottom: 10px;
}

.success-box p {
  font-size: 16px;
  color: #333;
  margin: 6px 0;
}
